@import 'color.scss';
@import 'fonts.scss';

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  background-color: $color-bg;
  color: $color-font;
  font-family: $fonts-normal;
  font-size: 2px;
}

a {
  color: $color-font;
  text-decoration: none;
}

html,body {
  height: 100%;
}

img {
  outline: none;
}

#app {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.block {
  margin-bottom: 20px;
}